html{
    font-size: 62.5%;
    background-color: var(--color-principal);

    
}
.container-master{
    display: grid;
    grid-template-areas: 
    "container-header"
    "container-main"
    "container-footer";
    background: url(../images/bg-desktop.svg) no-repeat center;
    background-size: cover;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

/* header */
.container-header{
    grid-area: container-header;
    margin-left: 60px;
    padding: 55px 0 64px 0px;
}
.container-header img{
    width: 218px;
}

/* main */
.container-main{
    grid-area: container-main;
    display: flex;
    margin-left: 60px;
    gap: 52px;
}

.container-main .mockups{
    display: flex;
}

.container-main .mockups img{
    width: 50vw;
    margin: auto;
}

.container-main .description{
    display: flex;
    width: 520px;
    color: #fff;
    flex-direction: column;
    gap: 17px;
    margin: 40px 0;
}
.container-main .description .title{
    font-family: var(--font-2);
    display: flex;
    font-weight: 600;
    font-size: 4rem;
    line-height: 62px;
}
.container-main .description .text-information{
    display: flex;
    font-family: var(--font-1);
    font-weight: 400;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 28px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.container-main .description .btn{
    height: 52px;
    width: 200px;
    color: var(--color-principal);
    font-family: var(--font-2);
    font-size: 1.8rem;
    border-radius: 60px;
    border:none;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.305);
}
.container-main .description .btn:hover{
    background-color: var(--color-of-selection);
    font-weight: 600;
    color: #fff;
}

/* footer */
.container-footer{
    grid-area: container-footer;
    display: flex;
    color: #fff;
    font-weight: 400;
    justify-content: flex-end;
    padding: 20px 10px 20px 0;
}

.container-footer .social{
    display: flex;
    gap: 20px;
    font-size: 1.7rem;
    padding: 0 30px;
    height: 50px;
}
.container-footer .social i{
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.5s;
    padding: 12px;
    cursor: pointer;
}

.container-footer .social i:hover{
    color: var(--color-of-selection);
    border: 2px solid var(--color-of-selection);
    font-weight: 600;

}
