@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --color-principal: hsl(257, 40%, 49%);
    --color-of-selection: hsl(300, 69%, 71%);
    --font-1: 'Open Sans', sans-serif;
    --font-2: 'Poppins', sans-serif;
}